.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .productImage {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .removeButton {
    margin-left: auto;
  }
  
  .totalPrice {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .checkoutButton {
    margin-right: 10px;
  }
  
  .clearButton {
    margin-left: 10px;
  }
  
  .quantityControl {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
    button {
      padding: 0.5rem;
      background-color: #eee;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 1.2rem;
    }
  
    span {
      font-size: 1.2rem;
    }
  }
  